*.user
.vs/
bin/
obj/
.env
*.env.local
*.env.*.local
node_modules/
.DS_Store
*.log
*.suo
*.swp
*.orig
.sonarqube/

# React Build Output
dist/
build/

# .NET Testing Output
TestResults/

# IDEs
.idea/

# Frontend Testing
src/ResumeAI.React/src/Frontend.test.tsx
src/ResumeAI.React/src/test/
src/ResumeAI.React/coverage/
